<div class="row">
    <div class="col-md-12">
        <h4>Liste des administrateurs</h4>
    </div>
    <table id="table_id">
        <thead class="white_text #546e7a blue-grey darken-1">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of admins">
                <td>{{a.idAdmin}}</td>
                <td>{{a.nom}}</td>
                <td>{{a.prenom}}</td>
                <td>{{a.mailAdmin}}</td>
                <td>{{a.mdp}}</td> 
                <td>
                    <a routerLink="/edit/{{a.idAdmin}}" class="waves-effect waves-light btn right green">Editer | </a>
                    <a routerLink="/delete/{{a.idAdmin}}" class="waves-effect waves-light btn right red">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>