 <div class="container">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="http://afpa-paul.fr.nf:8080/groupeProduits"></a>
        </nav>

        <h2>Liste des groupes de produits :</h2>
       <app-add-groupe-produits></app-add-groupe-produits>
       <app-list-groupe-produits></app-list-groupe-produits>
        <!-- <table>
            <tr>
                <th>ID :</th>
                <th>PRODUIT REFERENT :</th>
                <th>NUM PRODUIT :</th>
                <th>VALEUR PRODUIT ABREGEE :</th>
                <th>VALEUR PRODUIT DETAILLEE :</th>
            </tr>
            <tr *ngFor="let grp of groupeProduits">
                <td>{{grp.id}}</td>
                <td>{{grp.produitReferent}}</td>
                <td>{{grp.numProduitReferent}}</td>
                <td>{{grp.valeurAbregee}}</td>
                <td>{{grp.valeurDetaillee}}</td>
            </tr>
        </table> -->
    </div>
</div>
