<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  
</body>
</html>

<!-- HEADER  -->
<div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2 mt">
          <h1 class="animation slideDown">Retrouvez notre nouvelle application CalevDevise avec son nouveau design.</h1>
          <p class="mt"><button type="button" class="btn btn-cta btn-lg">CalevDevise</button></p>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
</div>
  <!-- /headerwrap -->
<nav id="navbar">
  <ul class="listonglet">
    <li>
      <div class="onglet">
        <a href="">--MENU--</a>
      </div>
      <div class="listoption">
        <a class="option" href="/admin">Administrateur</a>
        <a class="option" href="/groupeProduits">Groupe de produit</a>
        <a class="option" href="/travellerchequess">Traveller cheques</a>
      </div>
    </li>
  </ul>
</nav>
